
.home{
    width: 100%;
    position: relative;
}

.home_wrapper{
    width: 100%;
    min-height: 100vh;
    user-select: none;
}

.score{
    font-size: 24px;
    font-weight: bold;
}

.shop_btn{
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    cursor: pointer;
    background: #ccc;
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
}

.btn:active{
    box-shadow: inset 2px 2px 3px black;
}

.shop_wrapper{
    width: 200px;
    height: 200px;
    background: #ccc;
    position: absolute;
    top: 50px;
    left: calc(50% - 100px);
    box-shadow: 1px 1px 2px black;
    z-index: 160;
}

.shop_item{
    cursor: pointer;
    border-bottom: 1px solid black;
    padding: 3px 0px 3px 0px;
    font-size: 12px;
}
