
.home{
    width: 100%;
    position: relative;
}

#home_wrapper{
    width: 100%;
    min-height: 100vh;
    user-select: none;
}

.userProfile{
    width: 300px;
    position: absolute;
    top: 10px;
    left: calc(50% - 150px);
    font-size: 24px;
    font-weight: bold;
}

.timer{
    font-size: 14px;
}

.score{
    font-size: 24px;
    font-weight: bold;
}

.info{
    font-size: 18px;
}

.btn{
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    cursor: pointer;
    background: #ccc;
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    margin-top: 5px;
}

.btn:active{
    box-shadow: inset 2px 2px 3px black;
}

.shop_wrapper{
    width: 200px;
    height: 250px;
    background: #ccc;
    box-shadow: 1px 1px 2px black;
    padding: 1px 2px;
    z-index: 160;
    overflow-y: scroll;
}

.shop_item{
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 4px;
    padding: 3px 0px 3px 0px;
    font-size: 12px;
    box-shadow: 1px 1px 2px #333;
}

.shop_item:active{
    box-shadow: inset 2px 2px 3px black;
}

.rules{
    width: 300px;
    height: 300px;
    position: fixed;
    top: 0px;
    left: 0px; 
    text-align: center;
    padding-top: 10px;
    z-index: 200;
    background: #ccc;
    box-shadow: 2px 2px 3px black;
}

.rules p{
    margin-bottom: 5px;
}

.leaderboard{
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    background: #ccc;
    box-shadow: 2px 2px 3px black;
    padding: 5px 1px;
}

.leaderboard_section{
    position: relative;
    border: 1px solid black;
    padding: 3px 5px;
    box-shadow: 1px 1px 2px black;
}

@media(min-width: 815px){
    .leaderboard{
        width: 800px;
        height: auto;
        overflow-y: hidden;
        padding: 20px 0px 0px 20px;
    }

    .leaderboard_section{
        width: 350px;
        display: inline-block;
        margin: 0px 20px 20px 0px;
    }
}
